.navbar-vertical .navbar-brand > img,
.navbar-vertical .navbar-brand-img {
  max-width: 100%;
  max-height: 4rem;
}
.modal {
  z-index: 10000 !important;
}
.image-table {
  width: 128px;
  height: 128px;
}

.note-editor {
  width: 100%;
}

.note-toolbar {
  padding: 0.5rem !important;
  border-bottom: 1px solid #00000032;
}

.note-btn {
  margin: 0;
}

.flex-even {
  flex: 1;
}

.img-backend {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.input-text,
.is-focused .input-text {
  background: none;
  border: 1px solid #d2d6da;
  border-radius: 0.375rem;
  border-top-left-radius: 0.375rem !important;
  border-bottom-left-radius: 0.375rem !important;
  padding: 0.625rem 0.75rem !important;
  line-height: 1.3 !important;
}

.input-group.input-group-outline.is-focused .form-label + .form-control,
.input-group.input-group-outline.is-filled .form-label + .form-control {
  border-color: #d2d6da !important;
  border-top-color: transparent !important;
  box-shadow: inset 1px 0 #d2d6da, inset -1px 0 #d2d6da, inset 0 -1px #d2d6da;
}

.input-group.input-group-outline .form-label:before,
.input-group.input-group-outline .form-label:after {
  border: none !important;
}

.input-group.input-group-outline.is-focused .form-label:before,
.input-group.input-group-outline.is-focused .form-label:after,
.input-group.input-group-outline.is-filled .form-label:before,
.input-group.input-group-outline.is-filled .form-label:after {
  border: #d2d6da;
  box-shadow: none;
}
.swal2-container {
  z-index: 10001 !important;
}
